html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* __________________________________________________________ */


html{
/*    background-color: black;*/
}

.gallery {
    /* background-image: url(../images/back.png); */
    /* margin: 10px 50px; */
    
}
#back { 
    background-image: url("./images/back.png"); 
    min-height: 100vh;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: 6;
    
    margin-top: 5%;
    margin-bottom: 5%;
    }
/*
#back{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
#back img{
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}
*/

@media screen and (max-width: 100vw) {
    #back{
        width: 100vw;
        height: 100vh;
    }
}

.gallery img{
    width: 4vw;
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.gallery #taeil{
    position: absolute;
    top: 241%;
    left: 46%;
}
.gallery :nth-child(2){ /*Johnny*/
    position: absolute;
    top: 228%;
    left: 37%;
}
.gallery :nth-child(3){ /*Taeyong*/
    position: absolute;
    top: 228%;
    left: 31%;
}
.gallery :nth-child(4){ /*Yuta*/
    position: absolute;
    top: 213.2%;
    left: 45%;
} 
.gallery :nth-child(5){ /*Kun*/
    position: absolute;
    top: 205%;
    left: 31.7%;
} 
.gallery :nth-child(6){ /*Doyoung*/
    position: absolute;
    top: 239.5%;
    left: 33%;
} 
.gallery :nth-child(7){ /*Ten*/
    position: absolute;
    top: 201.5%;
    left: 38%;
} 
.gallery :nth-child(8){ /*Jaehyun*/
    position: absolute;
    top: 222%;
    left: 43%;
} 
.gallery :nth-child(9){ /*Winwin*/
    position: absolute;
    top: 214%;
    left: 35.5%;
} 
.gallery :nth-child(10){ /*Jungwoo*/
    position: absolute;
    top: 231%;
    left: 44.5%;
} 
.gallery :nth-child(11){ /*Lucas*/
    position: absolute;
    top: 213%;
    left: 27%;
} 
.gallery :nth-child(12){ /*Mark*/
    position: absolute;
    top: 238%;
    left: 39.3%;
} 
.gallery :nth-child(13){ /*Renjun*/
    position: absolute;
    top: 242%;
    left: 60%;
} 
.gallery :nth-child(14){ /*Jeno*/
    position: absolute;
    top: 235%;
    left: 68%;
} 
.gallery :nth-child(15){ /*Haechan*/
    position: absolute;
    top: 231%;
    left: 51.5%;
} 
.gallery :nth-child(16){ /*Jaemin*/
    position: absolute;
    top: 216%;
    left: 62%;
} 
.gallery :nth-child(17){ /*Chenle*/
    position: absolute;
    top: 229%;
    left: 61%;
} 
.gallery :nth-child(18){ /*Jisung*/
    position: absolute;
    top: 221.5%;
    left: 69%;
}

.gallery :nth-child(19){ /*Hendery*/
    position: absolute;
    top: 191.5%;
    left: 26.5%;
}
.gallery :nth-child(20){ /*Xiaojun*/
    position: absolute;
    top: 186%;
    left: 31.5%;
}
.gallery :nth-child(21){ /*Yangyang*/
    position: absolute;
    top: 189%;
    left: 36.5%;
}
